* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.offer {
  background-color: #e8e8e8;
  width: 100%;
  height: 3vh;
  /* font-size: 2vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
}
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  background-color: #ffffff;
  border-bottom: #c5baba;
  position: sticky;
  top: 0;
  gap: 5vw;
  z-index: 2;

  top: 0;
}
nav > img {
  height: 100%;
}
.navi {
  display: flex;
}
.navi > ul {
  display: flex;
  list-style: none;
  gap: 2vw;
  text-transform: capitalize;
  font-size: 1.4vw;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navi > ul > li > a {
  color: black;
  text-decoration: none;
}
nav > input {
  height: 60%;
  border: 1px solid rgb(175, 173, 168);
  border-radius: 20px;
  padding-left: 1vw;
  font-size: 1.2vw;
  outline: none;
  width: 25vw;
}
.right {
  display: flex;
  align-items: center;
  gap: 2vw;
  height: 60%;
  position: absolute;
  right: 1vw;
}
.right > img {
  height: 80%;
}
.right > form {
  height: 100%;
}
.right > form > button {
  height: 100%;
  border: none;
  outline: none;
}
.right > form > button > img {
  height: 80%;
}
.loginForm {
  height: 30vw;
  padding: 2vw;
  width: 50vw;
  border-radius: 20px;
  background-image: linear-gradient(
    to right top,
    #1f3bb7,
    #563cc9,
    #8238d8,
    #ac2ee3,
    #d612eb
  );
  position: absolute;
  display: flex;
  right: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminImg {
  height: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.adminImg > img {
  height: 100%;
}
.adminLogin {
  height: 80%;
  width: 60%;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blac k; */
  color: white;
  /* display: none; */
}
.adminLogin > form {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 2vw;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  gap: 2vw;
}
.adminLogin > form > input {
  height: 3vw;
  width: 70%;
  border: none;
  outline: none;
  border: 1px solid rgb(212, 199, 199);
  border-radius: 15px;
  padding-left: 2vw;
}
.adminLogin > form > button {
  width: 50%;
  border-radius: 15px;
  background-color: rgb(42, 185, 42);
  font-size: 1.2vw;
  height: 3vw;
  color: white;
}
