<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/home/styles.css" />
    <link rel="stylesheet" href="/stylesheet/home/responsive.css" />
    <title>Wish box</title>
  </head>
  <body>
    <%- include ("../components/nav.ejs") %> <%-
    include("../components/mainCard.ejs") %> <%-
    include("../components/footer.ejs") %>
    <a href="whatsapp://send?phone=+919403016250&text=Hello%20Swapan%20Sir">
      <img class="whatsapp" src="/Asests/AdimIcons/whatsapp.png" alt="" />
    </a>
    <script src="/stylesheet/home/script.js"></script>
  </body>
</html>
