<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/filter/styles.css">
    <title>filter</title>
</head>
<body>
    <div class="filter">
        <div class="filterInfo">
            <h1>Paper Frill & Garland</h1>
            <h1><a href="/">HOME</a> / PAPER FRILL & GARLAND</h1>
        </div>
        <select name="" id="">
            <option value="">category</option>
            <option value="">fan</option>
            <option value="">Star</option>
            <option value="">Kite</option>
            <option value="">Pom</option>
        </select>
    </div>
</body>
</html>