<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/footer/styles.css" />
    <title>Footer</title>
  </head>
  <body>
    <section class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Collection</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Explore</h4>
          <ul class="links">
            <li><a href="#">Designs</a></li>
            <li><a href="#">Latest Designs</a></li>
            <li><a href="#">Popular Designs</a></li>
            <li><a href="#">New Uploads</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Contacts</h4>
          <ul class="links">
            <li>
              <a
                href="whatsapp://send?phone=+919403016250&text=Hello%20Swapan%20Sir"
                >Whatsapp</a
              >
            </li>
            <li>
              <a
                href="https://www.instagram.com/sswapan.singha?igsh=YXA1NzA5cGhrMHFzz"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li><a href="#">Facebook</a></li>
            <li>
              <a href="https://youtube.com/@swapansingha62?si=e-T6ztTT6QAAuKqu"
                >Youtube</a
              >
            </li>
            <li>
              <a
                href="https://in.pinterest.com/pritam7796419792/"
                target="_blank"
                >Pinterest</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Newsletter</h4>
          <p>
            Subscribe to our newsletter for a weekly dose of news, updates,
            helpful tips, and exclusive offers.
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required />
            <button type="submit">SUBSCRIBE</button>
          </form>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
