<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/admin/Sidenav/styles.css" />
    <title>Wish box</title>
  </head>
  <body>
    <nav>
      <form action="/admin">
        <button><img src="/Asests/Icons/home.png" alt="" /></button>
      </form>
      <form action="/admin/Cards">
        <button><img src="/Asests/Icons/Cardsimg.png" alt="" /></button>
      </form>
      <form action="">
        <button><img src="/Asests/Icons/adminposter.png" alt="" /></button>
      </form>
      <form action="">
        <button>
          <img src="/Asests/Icons/advertisemen.png" alt="" />
        </button>
      </form>
      <form action="">
        <button>
          <img src="/Asests/Icons/adminpro.png" alt="" />
        </button>
      </form>
    </nav>
  </body>
</html>
